<div class="row outerDiv" style="margin-top:5px; margin-bottom: 2%; margin-left: 20px; margin-right: 20px;">
    <div class="col-lg-8 col-md-6 col-sm-12">
      <p class="title sizeT">Capstone Project 2023 Georgia</p>
      <div class="row">
        <div class="col-lg-8">
          <img alt="Group Members common image" class="responsiveImg"
          src="assets/Images/11.png"/>
        </div>
       <div class="col-lg-4 slogan sizeS" style="float: right;">
        See it,  weigh it, track it, <br>pay for it<br> - all with one device!
       </div>
      </div>
    <!-- <img width="600"  alt="Group Members common image" style="margin-left: 40px;"
      src="assets/Images/people.png"/>  -->
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <img alt="Project Logo" style="float: right;" class="responsiveLogo"
      src="assets/Images/Logo.png"/>
    </div>
  </div>