<div class="outerDiv">
    <div class="row">
        <div class="col-lg-4 col-md-2" style="margin-left: 2%;">
            <img width="80%" alt="Project Idea"
                 src="assets/Images/projectIdea.png"/>
        </div>
        <div class="col-lg-7 col-md-9">
            <div style="height: 45vh; overflow-y: scroll; overflow-x: hidden;">
                <div class="smallH">Where did the idea come from?</div>
                <div>
                    When we started thinking about the idea, we thought about all the everyday inconviniences that we could solve 
                    with this project. This is where the idea came from, which would allow the customer to weight the product himself, and
                    find out the price independently. 
                </div>
                <br>
                <div class="smallH">What is our idea?</div>
                <div>
                    Our idea is to create a device that will be a smart scale with additional functions that will 
                    eliminate the need for consultant to remember all the prices or codes of the products and enter it into the device.
                </div>
                <br>
                <div class="smallH">What are the pros of implementing this idea?</div>
                <div>
                    The result of the implementation of this project will be to simplify, speed up the buying and selling 
                    process and make the work of the employed personal easier.
                </div>
                <br>
                <div class="smallH">What is general principle of operation of the device?</div>
                <div>
                    Let's imagine the following scenario: 
                    we take the product, any fruit or vegetable in teh desired quantity, we place it on the scale board, 
                    this device will have a camera that percieves the product, identifies it, then the rate, weight, and the 
                    final amount to be paid are displayed on the screen. 
                </div>
            </div>
        </div>
    </div>
</div>

