<div class="outerDiv">
    <div class="row">
        <div class="col-lg-4 col-md-2" style="margin-left: 2%;">
            <img width="80%" alt="Project Idea"
                 src="assets/Images/projectDetails.png"/>
        </div>
        <div class="col-lg-7 col-md-9">
            <h3><b>Here are the main points of our product implementation:</b></h3>
            <div style="height: 45vh; overflow-y: scroll; overflow-x: hidden;">
                <br>
                <div>The weight information is transmitted through the PCB to the main core of our system, which is the <b>Raspberry Pi 4 computer.</b>
                </div>
                <div style="text-align: center;">
                    <img width="200" alt="Raspberry pi"
                 src="assets/Images/RaspberryPi.png"/>
                </div>
                <br>
                <div>We use the <b>Raspberry Pi 4 Model B Camera module</b> and the <b>YOLO</b> library to identify the product placed on the scale.</div>
                <div class="row">
                    <div class="col-lg-6" style="text-align: right;">
                        <img width="200" alt="Raspberry pi Camera"
                     src="assets/Images/RaspberryCamera.png"/>
                    </div>
                    <div class="col-lg-6" style="text-align: left;">
                        <img width="200" alt="Yolo"
                     src="assets/Images/YOLO.png"/>
                    </div>
                </div>
                <br>
                <div>The <b>database</b> loaded in Raspberry Pi 4 provides the price of one kilogram of the identified product.
                </div>
                <div style="text-align: center;">
                    <img width="200" alt="Database"
                     src="assets/Images/Database.png"/>
                </div>
                <br>
                <div>The <b>touch screen</b> connected to the Raspberry Pi 4 displays the total weight of the product, the price of one kilogram, and the total price of the selected product for the buyer to see.
                </div>
                <div style="text-align: center;">
                    <img width="200" alt="Touch screen"
                     src="assets/Images/Screen.png"/>
                </div>
                <br>
                <div><b>Our product is designed to simplify the buying process for customers, providing accurate and reliable weight and price information while offering a convenient and secure payment method.</b>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
